{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}
{% extends getPartial('page-design') %}

{% block PartialHead %}
    {%
        set pageMetadata = pageMetadata
            .withRobots(ceresConfig.meta.robotsHome)
            .withDescription('Ceres::Template.homepageMetaDescription')
    %}
{% endblock %}

{% block PageBody %}

    {% if ceresConfig.homepage.showShopBuilderContent or request.get('isContentBuilder') == 1 %}
        <div class="container-max">
            <div class="row">
                <div class="col">
                    {% for content in container("Ceres::Homepage") if content.plugin == "Plenty" %}
                        {{ content.result|raw }}
                    {% endfor %}
                </div>
            </div>
        </div>

    {% else %}

        {% if ceresConfig.homepage.showDefaultHomepage %}
            {% include 'Ceres::Homepage.MarketingHomepage.twig' %}
        {% else %}
            {% block ThemeHomepage %}
                {% include 'Ceres::Homepage.DefaultHomepage.twig' %}
            {% endblock %}
        {% endif %}

    {% endif %}

{% endblock %}